div#adm-nav {
    top: 0;
}

div#nvbls {top: 8px;}

div#usdds {
    top: 3px;
}

button.-bth {
    margin-left: -24px;
}

div#uspdd {
    margin-top: 29px;
}

.tofds.skdfad {
    width: 1006px;
}

tr.tp--thd {
    font-size: 17px;
}

tr#tp--itm {
    font-size: 20px;
    font-weight: 900;
}

td.t--dt {
    padding-left: 11px;
    padding-top: 7px;
    padding-right: 14px;
    padding-bottom: 10px;
}