
.lgn-ctn {
    background-image: url(../images/img3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.lgn-ctn {
    width: 100%;
    height: 100%;
    position: fixed;
}

.ln-in {
    width: 100%;
    position: fixed;
    text-align: center;
    margin-top: 23px;
}

img.lg-img {
    width: 136px;
}

#ln-f {
    width: 616px;
    position: absolute;
    left: 50%;
    margin-left: -330px;
    margin-top: 2px;
    padding: 13px;
}

.su-ti {
    font-size: 33px;
    margin-top: 4px;
    font-family: app_font;
    font-weight: 900;
    color: #fff;
    width: 100%;
    margin-left: -10px;
}

a.a-lg {
    margin-left: -161px;
    margin-top: 224px;
    position: fixed;
}

input#lgn {
    font-family: app_font;
    outline: none;
    cursor: pointer;
    background-color: #fdca01;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 53px;
    padding: 4px 6px 4px 9px;
    width: 298px;
    color: #181717;
    border-radius: 7px;
    border-color: transparent;
    font-size: 21px;
    font-weight: 900;
}




input#email {
    margin-top: 13px;
    width: 343px;
}

input#password {
    margin-top: 13px;
    margin-left: 1px;
    width: 343px;
}

input#lgn {
    margin-top: 13px;
    width: 343px;
}


button.btn:hover {
    background: #ffffff;
}


input#lgn:hover {
    background: #ffffff;
    border: 1px solid;
}


button.btn {
    background: #49ff00;
    width: 343px;
    margin-top: auto;
    margin-left: -18px;
}