
.sgn-ctn {
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sgn-ctn {
    width: 100%;
    height: 100%;
    position: fixed;
}

.su-in {
    width: 100%;
    position: fixed;
    text-align: center;
    height: 100%;
    background-color: #1f1f1f3d;
}

img.si-img {
    width: 136px;
}

form#su-f {
    width: 648px;
    left: 50%;
    margin-left: auto;
    margin-top: 5px;
    padding: 13px;
    margin-right: auto;
}

.su-ti {
    font-size: 33px;
    margin-top: 5px;
    font-family: app_font;
    font-weight: 900;
    color: #fff;
}

a.a-su {
    margin-left: auto;
    margin-right: auto;
}

input#snup {
    font-family: app_font;
    outline: none;
    cursor: pointer;
    background-color: #07ffb8;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 53px;
    padding: 4px 6px 4px 9px;
    width: 298px;
    color: #181717;
    border-radius: 14px;
    border-color: transparent;
    font-size: 21px;
    font-weight: 900;
}


input#lname {
    margin-top: 13px;
    margin-left: 6px;
    width: 318px;
}

input#email {
    margin-top: 13px;
}

input#password {
    margin-top: 13px;
    /* margin-left: 6px; */
    width: 318px;
}

input#snup {
    margin-top: 13px;
    margin-left: auto;
    width: 327px;
    border-radius: 7px;
}


button.btn {
    width: 328px;
}

.sgtp {
    margin-top: 33px;
}

input#snup:hover {
    background: #0aefab;
}

button.btn:hover {
    background: white;
}

input#email {
    margin-left: 1px;
}

input#phone {
    width: 320px;
}