/* defaults */
@font-face {
    font-family: app_font;
    src: url(./fonts/Century\ Gothic.ttf);
  }
body{
    margin: 0;
    font-family: app_font;
}
input {
    font-family: app_font;
    outline: none;
    background-color: #efefef;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 53px;
    padding: 4px 6px 4px 9px;
    width: 298px;
    color: #181717;
    border-radius: 7px;
    border-color: transparent;
    font-size: 21px;
    font-weight: 900;
}
a {
    text-decoration: none;
    color: #000000;
}

.btn {
    font-family: app_font;
    outline: none;
    cursor: pointer;
    background-color: #efefef;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    height: 53px;
    padding: 4px 6px 4px 9px;
    width: 321px;
    color: #181717;
    border-radius: 7px;
    border-color: transparent;
    font-size: 21px;
    font-weight: 900;
}
.nxbtn {
    background: #efefef;
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    padding-left: 18px;
    padding-right: 18px;
    color: black;
    font-weight: 900;
}